//   .::::  Colors  ::::.
$cBgDarkHighContrast: #020c1b;
$cBgDark: #0a192f;
$cPrimary: #64ffda;
$cTextLight: #ccd6f6;
$cTextGray: #8892b0;
$cBgLight: #4b566f;

//   .::::  Fonts  ::::.
$font-Mono: "PT Mono", monospace;
$font-Roboto: "Roboto", sans-serif;
$font-Nunito: "Nunito", sans-serif;
//.:: _Size
